<div class="container p-4">
    <div class="row">
        {{#each vehicles}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="car body">
                        <a href="">
                            <h3 class="card-title text-uppercase">
                                {{marca}}
                            </h3>
                        </a>
                        <p class="m-2">Modelo: {{modelo}}</p>
                        <p class="m-2"> Placa: {{placa}}</p>
                        <p class="m-2">Color: {{color}}</p>
                        <p class="m-2"> Creado el: {{ created}}</p>
                        <a href="/vehicles/edit/{{idVehiculo}}" class="btn btn-primary">Editar</a>
                        <a href="/vehicles/delete/{{idVehiculo}}" class="btn btn-light">Eliminar</a>
                    </div>
                </div>
            </div>
            {{else}}
            <div class="col-md-4 mx-auto">
                <div class="card card-body text-center">
                    <p >No hay vehiculos registrados</p>
                    <a href="/vehicles/register" class="btn btn-primary m-4">Crear</a>
                </div>
            </div>
            {{/each}}
    </div>
</div>