<div class="container p-4">
    <div class="row">
        {{#each users}}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="car body">
                        <a href="">
                            <h3 class="card-title text-uppercase">
                                {{nombres}}
                            </h3>
                        </a>
                        <p class="m-2">Correo Electronico: {{email}}</p>
                        <p class="m-2"> Telefono: {{phone}}</p>
                        <p class="m-2">Dirección: {{address}}</p>
                        <p class="m-2"> Creado hace: {{timeago created}}</p>
                        <a href="" class="btn btn-secondary">Editar</a>
                        <a href="/users/delete/{{idUsuario}}" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>